.list {
  list-style-type: none;
  padding: 0px;
}

.list > li {
  margin-bottom: 10px;
}

.list > li > input {
  border: none;
  background: transparent;
  color: #000;
  width: fit-content !important;
}

.list > li > .focus-input {
  border-bottom: 2px solid grey;
  outline: none;
}
